<div class="container " >
    <div class="row mt-5 p-5 ">
      <div class="col-md-4  col-sm-12 mb-2 ">
        <div class="card" style="width: 100%">
            <img src="../../assets/imgs/al00.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">ALY BABA</h5>
              <a routerLink="alibaba" class="btn btn-outline-warning">Go Menue</a>
            </div>
          </div>
    </div>
     <div class="col-md-4  col-sm-12 mb-2 ">
        <div class="card" style="width: 100%">
            <img src="../../assets/imgs/la0.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center" >
              <h5 class="card-title">LAMERA</h5>
              <a routerLink="lamira" class="btn btn-outline-warning">Go Menue</a>
            </div>
          </div>
          </div>
        
        <div class="col-md-4  col-sm-12 mb-2 ">
            <div class="card" style="width: 100%">
                <img src="../../assets/imgs/bl00.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Balacona</h5>
                  <a routerLink="balacona" class="btn btn-outline-warning">Go Menue</a>
                </div>
              </div>
        </div>
        <div class="col-md-4  col-sm-12 mb-2 ">
            <div class="card" style="width: 100%">
                <img src="../../assets/imgs/230.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">23JULYE</h5>
                  <a routerLink="julye" class="btn btn-outline-warning">Go Menue</a>
                </div>
              </div>
        </div>
        <div class="col-md-4  col-sm-12 mb-2">
            <div class="card" style="width:100%">
                <img src="../../assets/imgs/ca00.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Kafira</h5>
                  <a routerLink="kafira" class="btn btn-outline-warning">Go Menue</a>
                </div>
              </div>
        </div>
        <div class="col-md-4  col-sm-12 mb-2">
            <div class="card" style="width: 100%">
                <img src="../../assets/imgs/1des.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">DISPASITOO</h5>
                  <a routerLink="dispasitoo" class="btn btn-outline-warning">Go Menue</a>
                </div>
              </div>
        </div>
        </div>
</div>
        
